[Unit]
Description=SecretSecret: A secret Gemini server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/secretshop

[Install]
WantedBy=multi-user.target
